body {
    width: 1280px;
    padding: 10px;
    margin: auto;
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: normal;
}

.logo {
    width: 334px;
    height: 79px;
    margin-top: 61px;
    text-decoration: none;
    font-size: 80px;
    color: #000000;
}

.logo-color {
    color: aqua;
}

.top-menu {
    background-color: #35444F;
    margin-top: 30px;
    margin-bottom: 30px;
}

.menu-button {
    display: inline-block;
    font-size: 24px;
    text-decoration: none;
    color: #FFFFFF;
    margin-right: 20px;
    padding: 25px 35px;
}

.menu-button:hover {
    background: #222F3A;
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.menu-button-left {
    display: inline-block;
    font-size: 24px;
    text-decoration: none;
    color: #FFFFFF;
    margin-right: 30px;
    margin-left: 150px;
    padding: 25px 35px;
}

.menu-button-left:hover {
    background: #222F3A;
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.left-menu-border {
    display: inline-block;
    width: 344px;
    border: 1px solid #000000;
    padding-left: 0;
}

.left-menu-button {
    list-style-type: none;
    font-size: 26px;
    color: #495863;
    text-decoration: none;
    padding-left: 30px;
    padding-top: 25px;
    padding-bottom: 23px;
    display: block;
    border: none;
}
.left-menu-button:hover{
    background: #DBDBDB;
    padding-left: 45px;
    border: none;
}

.top-image-fon {
    overflow: hidden;
    display: inline-block;
    position: absolute;
    margin-left: 46px;
    width: 885px;
    height: 529px;
    border: 1px solid #000000;
}

img {
    margin-left: 297px;
    margin-top: 75px;
}

img:hover {
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.text-block {
    width: 885px;
    height: 149px;
    font-size: 18px;
    display: inline-block;
    margin-left: 397px;
    margin-top: 150px;
    margin-bottom: 0;
}

.text-block-bottom {
    display: inline-block;
    width: 885px;
    height: 149px;
    font-size: 18px;
    margin-left: 397px;
    margin-top: 0;
}

footer {
    height: 69px;
    background: rgba(99, 105, 110, 0.48);
    padding-top: 35px;
}

.footer-block {
    width: 928px;
    height: 69px;
    float: left;
    text-align: center;
    padding: 0;
}

.footer-button {
    font-size: 26px;
    color: black;
    text-decoration: none;
    margin-left: 30px;
    text-align: center;
}
.footer-button:hover {
    text-decoration: underline;
    color: aqua;
}

.copyright {
    width: 205px;
    height: 90px;
    font-size: 26px;
    color: black;
    float: right;
}
